# MongoDB Connection String
# For local MongoDB: mongodb://localhost:27017/blog_db
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/blog_db?retryWrites=true&w=majority
MONGODB_URI=mongodb://localhost:27017/blog_db

# Server Port
PORT=3000

# Environment (development, production)
NODE_ENV=development

# Pagination
PAGINATION_LIMIT=20

# Rate Limiting
RATE_LIMIT_MAX=30
RATE_LIMIT_WINDOW_MS=60000

# Email sent on every X views reached
BLOG_VIEWS_EMAIL_THRESHOLD=100

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=7d

#EMAIL Configuration
EMAIL_FROM=no-reply@example.com
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_HOST_USER=username
EMAIL_HOST_PASSWORD=password
EMAIL_PORT=2525

FRONTEND_URL=http://192.168.9.167:3000